.driver {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;

  .driver-data {
    min-width: 300px;
  }

  .bold {
    font-weight: 700;
  }

  .country {
    display: flex;
    align-items: center;
    background-color: rgb(248, 226, 159);
    border-radius: 0.5rem;
    padding-left: 0.2rem;

    * {
      margin-left: 0.5rem;
    }
  }

  .image {
    max-width: 210px;
    margin-right: 3rem;
  }

  .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

@media (max-width: 1256px) {
  .driver {
    flex-direction: column;

    .image {
      max-width: 150px;
      margin-right: 2rem;
    }

    .driver-data {
      min-width: 250px;
    }

    .icon {
      margin-right: 0;
    }
  }
}
