.content {
  margin: 0 15rem;
}

.driver-card {
  margin: 2rem 0;
}

@media (max-width: 1256px) {
  .content {
    margin: 0 5rem;
  }
}

@media (max-width: 640px) {
  .content {
    margin: 0 3vw;
  }
}
