.card {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  min-width: 350px;
}

@media (max-width: 1256px) {
  .card {
    padding: 2rem;
  }
}
